<h2>
    Cat</h2>
<div>Name:
    <%= cat.name %>
</div>
<div>Description:
    <%= cat.description %>
</div>
<div>Location:
    <%= cat.location %>
</div>
<div>Last Seen:
    <%= cat.lastSeen %>
</div>
<div>Last Fed:
    <%= cat.lastFed %>
</div>