<h2>
    Cat</h2>
<div>Name:
    <%= cat.name %>
</div>
<div>Description:
    <%= cat.description %>
</div>
<div>Location:
    <%= cat.location %>
</div>
<div>

    <form action="/cat/see/<%= cat._id %>" method="POST">
        <button type="submit">Did you see this cat?</button>
    </form>
    Last Seen:
    <%= cat.lastSeen %>
</div>
<div>
    <form action="/cat/feed/<%= cat._id %>" method="POST">
        <button type="submit">Did you see and feed this cat?</button>
    </form>Last Fed:
    <%= cat.lastFed %>
</div>